/* Global Styles */

body {
    margin: 0;

}

@media screen and (max-width: 768px) {
    html {
      font-size: 13px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    html {
      font-size: 16px;
    }
  }

/* Fonts*/

.oi-regular {
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}



.montserrat-medium {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  /* Layout */
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
  }

  .side-padding {
    flex: 15;
  }

  .center-space {
    flex: 70;
  }

  /* Utilities */
  .hide-on-mobile {
    display: initial;
  }

  @media screen and (max-width: 768px) {
    .hide-on-mobile {
      display: none;
    }
  }

  .flex-space-between {
    display: flex;
    justify-content: space-between;
  }

  .padding {
    padding: 1rem;
  }

  .underline:hover {
    text-decoration: underline;
  }

  /* Components */
  .circle {
    border-radius: 100%;
    background-color: #f62731;
    width: 0.5rem;
    height: 0.5rem;
    padding: 1rem;
    margin-left: 2.5rem;
  }

  .spacer {
    width: 100%;
    height: 5.5rem;
  }
  
  .bottom-liner {
    height: 5px;
    width: 100%;
    border-bottom: black 2px solid;
  }
  /*
    letter-spacing: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 0.7;
  */

  


